<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>cyberpunk - terminal</title>
  <link rel="stylesheet" href="css/login.css">
</head>

<body class="">
  <div class="container on">
    <div class="screen">
      <h3 class="title">

        {% if message %}
        {{message}}
        {% else %}
        CONECCIÓN ESTABLECIDA
        {% endif %}
      </h3>
      <div class="box--outer">
        <div class="box">
          <div class="box--inner">
            <div class="content">
              <div class="holder">
                <b>Welcome to ARS system</b> — Enter your credentials to log in
                <br>
                <br>
                <div class="row">
                  <form method="post" action="/login">
                    <div class="col col__left label">
                      Login
                    </div>


                    <div class="col col__center">
                      <input type="text" id="username" name="username" maxlength="32" value="" required="required">
                    </div>
                </div>
                <div class="row">
                  <div class="col col__left label">
                    Password
                  </div>
                  <div class="col col__center">
                    <input type="password" id="password" name="password" required="required" maxlength="32"
                      autocomplete="new-password" autofocus="true" />
                  </div>
                </div>
                <!-- <b class="flash">ACCESS DENIED</b> -->
                <div class="row">
                  <button type="submit" id="submit" name="submit">[login]</button>
                </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>